<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}
<div class="index-wrapper">

  <div class="index--carousel-container">
    <div class="newsSlides">
      <a class="newsSlide-link" href="https://drphonez.com/pages/phonebulace">
        <p class="slide-header">Phonebulance<br><span class="slide-span">Save your time, let us come to you!</span></p>
        <img class="newsImage image1" src="" alt="Phonebulance Mobile Phone Repair Van">
      </a>
    </div>
  </div>

  <div class="small--hide index-reviews">
    <p class="index-reviews-main">Most customer satisfying repair shop in San Antonio...</p>
    <p class="index-reviews-second">Our Reviews are our Trademark!</p>
  </div>
</div>
<div class="grid--full index-policy-wrap">
  <div class="index-protection-header">
    <p class="index-customer-value">We Value our Customers</p>
  </div>
  <div class="grid__item large--one-third index-single-policy">
    <a class="index-policy-link" href="http://drphonez.com/pages/protection-plan">
      <div class="index-valuedcx-2imgdiv">
        <img class="index-valuedcx-2img" src="{{ 'astericsrepair.jpg' | asset_url }}" alt="">
        <img class="index-valuedcx-2img" src="{{ 'savings.png' | asset_url }}" alt="">
      </div>
      <p class="index-valuedcx-header">Protection That Saves</p>
      <p class="index-valuedcx-p">For any accidents in the future, pay an extra fee when you get a screen replacement and save over 50% on your next single repair.</p>
    </a>
  </div>
  <div class="grid__item large--one-third index-single-policy">
    <div class="index-valuedcx-imgdiv">
      <img class="index-valuedcx-img" src="{{ 'nurse.png' | asset_url }}" alt="">
    </div>
    <p class="index-valuedcx-header">Associates that Care</p>
    <p class="index-valuedcx-p">Our associates are here to get you the best experience when you come to the Dr.</p>
  </div>
  <div class="grid__item large--one-third index-single-policy">
    <div class="index-valuedcx-imgdiv">
      <img class="index-valuedcx-img" src="{{ 'ambulance.png' | asset_url }}" alt="">
    </div>
    <p class="index-valuedcx-header">After-Repair Care</p>
    <p class="index-valuedcx-p">When you work with the Dr, the Dr works for you. If you have any issues with the repair, We come to you in our Professional Phonebulance Mobile Repair Shop.</p>
  </div>
</div>
