<!-- /templates/page.liquid -->
<div class="grid">

  <div class="about-main-section">
    <div class="text-wrapper">
      <p class="about-banner-p">DR.PHONEZ SAN ANTONIO</p>

      <p class="page-mainHeader about-main-header">Expert Repairs. Done Fast.</p>

      <p class="about-main-p">Phones are an asset to your everyday life. Here at Dr.Phonez we will take the extra steps to insure your device is properly taken care of by providing Honest and Quality service to fulfill customer satisfaction.</p>

      <!-- <p class="about-main-p">Requiring endless limitation to achieve and fulfill Customer Satisfaction by providing Honest and Quality Service.</p> -->
    </div>
  </div>

  <div class="grid__item large--five-sixths push--large--one-twelfth">



    {% comment %}
      Regular page content goes here.
      {% endcomment %}

    <div class="grid about-us-wrap">
      <!-- <div class="grid__item aboutUs-paragraph">
        <h2 class="text-center">Endless Limitation</h2>
        <p class="index-policy-p">Requiring endless limitation to achieve and fulfill Customer Satisfaction by providing Honest and Quality Service.</p>
      </div> -->
      <div class="grid__item aboutUs-paragraph">
        <!-- <h2 class="text-center">We at Dr Phonez</h2> -->
        <p class="index-policy-p">We at Dr Phonez are passionate about electronic gadgets and devices. So much so that we honorably bring that passion to you. Whether it be out of one of our several locations or at your front door. Since 2010 we've established a team and we've devoted our lives to do what we love. Our hearts are in electronics and repairs, Our passion is from those we service.</p>
      </div>
      <div class="grid__item aboutUs-paragraph">
        <!-- <h2 class="text-center">Every Device</h2> -->
        <p class="index-policy-p">Every Device has a story, every decive has an owner that makes it unique. Every device is just as important as the next. The value of these gadgets is found within, not by a price tag. Understanding this is a key factor in todays world. We service your device as we would service our own. The growth of technology is at its peak and not slowing down anytime soon. We value this journey and all aspects that electronics have to offer.</p>
      </div>

    </div>


  </div>

</div>
