<!-- /templates/page.liquid -->
<div class="grid--full grid--table wrapper-custom">

  <div class="grid__item page-mainHeader-wrapper">
    <h1 class="text-center page-mainHeader">{{ page.title }}</h1>
  </div>

  <div class="flex-wrapper">
    <div class="maps">
      <a href="https://drphonez.myshopify.com/pages/san-pedro">
        <img class="map-img" src="https://maps.googleapis.com/maps/api/staticmap?center=29.515879,-98.499794&zoom=15&size=500x300&scale=2&markers=color:red%7C29.515879,-98.499794&key=AIzaSyAgrUWZRj5eTq3ue8904vnyTwTCvUNWMfY" alt="San Pedro map location">
        <span class="map-info-banner">
          <p class="map-info-location">San Pedro</p>
        </span>
      </a>
    </div>
    <div class="maps">
      <a href="https://drphonez.myshopify.com/pages/forum">
        <img class="map-img" src="https://maps.googleapis.com/maps/api/staticmap?center=29.567889,-98.330389&zoom=15&size=500x300&scale=2&markers=color:red%7C29.567889,-98.330389&key=AIzaSyAgrUWZRj5eTq3ue8904vnyTwTCvUNWMfY" alt="Forum map location">
        <span class="map-info-banner">
          <p class="map-info-location">Forum</p>
        </span>
      </a>
    </div>
    <div class="maps">
      <a href="https://drphonez.myshopify.com/pages/stone-oak">
        <img class="map-img" src="https://maps.googleapis.com/maps/api/staticmap?center=29.641010,-98.456864&zoom=15&size=500x300&scale=2&markers=color:red%7C29.641010,-98.456864&key=AIzaSyAgrUWZRj5eTq3ue8904vnyTwTCvUNWMfY" alt="Stone Oak map location">
        <span class="map-info-banner">
          <p class="map-info-location">Stone Oak</p>
        </span>
      </a>
    </div>
    <div class="maps">
      <a href="https://drphonez.myshopify.com/pages/potranco">
        <img class="map-img" src="https://maps.googleapis.com/maps/api/staticmap?center=29.437573,-98.65249&zoom=15&size=500x300&scale=2&markers=color:red%7C29.437573,-98.65249&key=AIzaSyAgrUWZRj5eTq3ue8904vnyTwTCvUNWMfY" alt="Potranco map location">
        <span class="map-info-banner">
          <p class="map-info-location">Potranco</p>
        </span>
      </a>
    </div>
    <div class="maps">
      <a href="https://drphonez.myshopify.com/pages/lackland">
        <img class="map-img" src="https://maps.googleapis.com/maps/api/staticmap?center=29.380072,-98.640008&zoom=15&size=500x300&scale=2&markers=color:red%7C29.380072,-98.639508&key=AIzaSyAgrUWZRj5eTq3ue8904vnyTwTCvUNWMfY" alt="Lackland map location">
        <span class="map-info-banner">
          <p class="map-info-location">Lackland</p>
        </span>
      </a>
    </div>
    <div class="maps">
      <a href="https://drphonez.myshopify.com/pages/thousand-oaks">
        <img class="map-img" src="https://maps.googleapis.com/maps/api/staticmap?center=29.578583,-98.440797&zoom=15&size=500x300&scale=2&markers=color:red%7C29.578583,-98.440797&key=AIzaSyAgrUWZRj5eTq3ue8904vnyTwTCvUNWMfY" alt="Lackland map location">
        <span class="map-info-banner">
          <p class="map-info-location">Thousand Oaks</p>
        </span>
      </a>
    </div>
  </div>
</div>
