

<div class="grid drmacz">
  <div class="macz-main-section">
    <div class="macz-text-wrapper">
      <p class="macz-banner-p">Used. In-House-Warranty. Affordable.</p>
      <p class="macz-main-header">{{ page.title }}</p>
      <p class="macz-main-p">Whether a student trying to make it or someone wanting to get into a new hobbie or career without the "new" price, We have you covered.</p>
    </div>
  </div>
  <div class="wrapper-custom">
    <div class="grid__item large--ten-twelfths push--large--one-twelfth medium-down--eleven-twelfths grid-nopadding">
      <h1 class="text-center">Our Inventory</h1>
      <div class="maczCollections-wrapper">

        {% for collection in collections %}

          {% if collection.description contains "drmacz" %}
            <div class="maczMain-collections">
              <a href="{{collection.url}}" class="grid__image maczMain-link">
              <img class="maczMain-img" src="{{collection | img_url: 'large'}}" alt="">
                <h4 class="text-center macz-colletionsHeader">{{collection.title}}</h4>
              </a>
            </div>
          {% endif %}

        {% endfor %}

      </div>
    </div>
  </div>
</div>
