<!-- /templates/page.liquid -->
<div class="testpush">
  <p>tst</p>
</div>
<div class="temperedGlass-promo-wrapper">
  <p>Free Phonebulance Tempered Glass</p>
  <div class="temperedGlass-promo">
    <img class="tglass-phone" src="{{ 'iphone-6s-white.png' | asset_url }}" alt="">
    <img  class="tglass-img" src="{{ 'tglass.png' | asset_url }}" alt="Tempered glass for phone">
  </div>
  <p>See if you qualify!</p>
</div>
