<!-- /templates/page.liquid -->
<div class="testpush">
  <p>tst</p>
</div>
<div class="indexSale">
  <img  class="indexSale-ribbon" src="{{ 'ribbon.png' | asset_url }}" alt="">
  <span class="indexSale-ribbonText">Trip Charge:<br>
    <span class="indexSale-dollar">$19
      <span class="indexSale-cents">99
      </span>
    </span><br>
    <span class="indexSale-newCost">FREE</span>
  </span>
</div>
