<!-- /templates/page.liquid -->
<div class="grid--full">

  <h1 class="text-center page-mainHeader">{{ page.title }}</h1>

  <div class="grid__item large--one-third faq-left-div">
    <h1>test</h1>
  </div>

  <div class="grid__item large--two-thirds faq-right-div">

    <div class="childshow">
      <h1>click to display</h1>
      <div class="childshow hiddenDisplay">
        <h2>displayed!</h2>
      </div>
    </div>
  </div>

</div>
