<!-- /templates/page.liquid -->
<div class="grid--full">

  <h1 class="text-center page-mainHeader">{{ page.title }}</h1>

  <div class="wrapper-faq">
    <div class="grid__item large--one-quarter faq-left-div">
      <h1>test</h1>
    </div>

    <div class="grid__item large--three-quarters faq-right-div">

      <div class="childshow">
        <h5>Can Dr. Phonez technicians only repair cell phones or can they repair other electronic devices as well?</h5>
        <div class="childshow hiddenDisplay">
          <p>At Dr.Phonez, we repair cell phones on an everyday basis. In addition, each location is capable of handling various laptops and tablets.</p>
          <h6>We specialize in:</h6>
          <ul>
            <li>iPad Repair</li>
            <li>iPod Repair</li>
            <li>iPhone Repair</li>
            <li>iWatch Repair</li>
            <li>Samsung Repair</li>
            <li>HTC Repair</li>
            <li>LG Repair</li>
            <li>Laptop Repair</li>
            <li>& So Much More!</li>
          </ul>
        </div>
      </div>
      <div class="childshow">
        <h5>What does the repair estimate include?</h5>
        <div class="childshow hiddenDisplay">
          <p>The repair price estimate will always include both replacement part and labor. Estimates are provided prior to every repair service.</p>
        </div>
      </div>
      <div class="childshow">
        <h5>What does the Dr. Phonez 90 day warranty cover?</h5>
        <div class="childshow hiddenDisplay">
          <p>Dr Phonez 90 days warranty covers defects in the parts that we install as well as the labor associated with the repair. The warranty does not cover issues caused by physical or liquid damage.</p>
        </div>
      </div>
      <div class="childshow">
        <h5>What is Dr Phonez Repair Protection Plan?</h5>
        <div class="childshow hiddenDisplay">
          <p>Dr. Phonez Repair Protection Plan is added protection that we offer for iPhones and iPads at time of screen repair that will cover your next repair whether it be battery, cameras,charge port, etc. Please follow link for list of generation and prices.</p>
        </div>
      </div>
      <div class="childshow">
        <h5>Why is my phone slower after updating to the newest version of software?</h5>
        <div class="childshow hiddenDisplay">
          <p>Older devices have been known to slow down if a recent software update has been installed because the phone’s hardware is not equipped to support the new features of the operating system. Insufficient memory is a common cause as well. The lack of memory left on any electronic is a contributing factor to the overall device function.</p>
        </div>
      </div>
      <div class="childshow">
        <h5>What should I do if I drop my phone in water?</h5>
        <div class="childshow hiddenDisplay">
          <p>After you’ve removed your device from the liquid, dry the outside of the device while being careful to not press any buttons. If possible, remove the battery to decrease the likelihood of a short.<br>Bring your liquid damaged item to Dr. Phonez and we will gladly take over from there!</p>
        </div>
      </div>
      <div class="childshow">
        <h5>Am I expected to pay for the repair before or is payment due after service?</h5>
        <div class="childshow hiddenDisplay">
          <p>Since every kind of repair we perform is different select services will require upfront payment such as unlocks, special orders, & liquid damage treatments. However about 90% of our services can be paid at time of completion.</p>
        </div>
      </div>
      <div class="childshow">
        <h5>When should a phone's battery be replaced?</h5>
        <div class="childshow hiddenDisplay">
          <p>When your item becomes damaged, your warranty protection becomes void automatically. There for the warranty has already been voided.</p>
        </div>
      </div>
      <div class="childshow">
        <h5>My phone doesn't charge. How can I tell if it's the battery or charge port?</h5>
        <div class="childshow hiddenDisplay">
          <p>If your phone does not charge altogether, check to see if the port is loose or dirty. If it’s loose or dirty, you will most likely need a charging port replacement. If an aux cord can be firmly plugged in, you are most likely experiencing a battery issue.</p>
        </div>
      </div>
      <div class="childshow">
        <h5>What is the success rate of the Liquid Damage Repair?</h5>
        <div class="childshow hiddenDisplay">
          <p>Typically we have a liquid damage repair success rate of 75% percent, though nothing is guaranteed to work and there is no warranty included with this service.</p>
        </div>
      </div>
      <div class="childshow">
        <h5>What is Phonebulance by Dr. Phonez?</h5>
        <div class="childshow hiddenDisplay">
          <p>See our <a href="#">Page</a> to get more info on our Phonebulance services.</p>
        </div>
      </div>
      <div class="childshow">
        <h5>Besides repairs what else does Dr. Phonez have to offer?</h5>
        <div class="childshow hiddenDisplay">
          <ul>
            <li>Accessories</li>
            <li>Carrier Unlock</li>
            <li>Customized Cases</li>
            <li>Buy/Sell/Trade</li>
            <li>We Sell Trendy Gadgets</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
