<!-- /templates/page.liquid -->
<div class="index-wrapper">
  <div class="index-reviews">
    <p class="index-reviews-main">With the most satisfied<br>customersin San Antonio</p>
      <img class="index-reviews-stars" src="{{ '45star.png' | asset_url }}" alt="">
    <p class="index-reviews-second">Our Reviews are our Trademark!</p>
  </div>

</div>
