

<div class="grid--full">
  <div class="wrapper-custom">
    <div class="location-pageinfo">
      <h1 class="location-main-header">{{ page.title }}</h1>
        <img  class="location_img" src="{{ 'stone_oak.jpg' | asset_url }}" alt="">
      <span class="location-info-headers">Address:</span>
      <div class="">
        <span class="location-info">20935 US-281 #101</span>
        <span class="location-info">San Antonio, TX 78258</span>
        <span class="location-info">(210) 403-3030</span>
      </div>
      <span class="location-info-headers">Store hours:</span>
      <div class="location-info-days">
        <span class="location-info">Mon-Sat:</span>
        <span class="location-info">Sun:</span>
      </div>
      <div class="location-info-hours">
        <span class="location-info">9:00 a.m. - 6:00 p.m.</span>
        <span class="location-info">Noon - 6:00 p.m.</span>
      </div>
    </div>
    <div class="location-gmap">
      <iframe
        frameborder="0" class="gmap"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDX-Zp_WBnNhOPD4JcIM37WzxYNIFhCUFI&q=Dr+Phonez/@20935+US+-+281+suite+#101,San+Antonio,TX" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
