<!-- /templates/page.liquid -->
<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">

    <h1 class="text-center protection-header">{{ page.title }}</h1>

    <img class="protection-img" src="{{ 'RPPresized.png' | asset_url }}" alt="">

    <h5 class="text-center protection-subheader">No matter what accidents happen, Your Device is Covered.</h5>

    <p class="text-center protection-intro">Introducing our all-new, stress-free Repair Protection Plan. Protect your device from any future repairs when you fix the first time by signing up for our protection plan.</p>

    <img class="protection-phonez" src="{{ 'protectionphonez.jpg' | asset_url }}" alt="">
  </div>

</div>
