

<div class="grid--full">
  <div class="wrapper-custom">
    <div class="location-pageinfo">
      <h1 class="location-main-header">{{ page.title }}</h1>
      <div class="">
        <span class="location-info-headers">Address:</span>
        <span class="location-info">2923 Thousand Oaks #4</span>
        <span class="location-info">San Antonio, TX 78247</span>
        <span class="location-info">(210) 451-7192 </span>
      </div>
      <span class="location-info-headers">Store hours:</span>
      <div class="location-info-days">
        <span class="location-info">Mon-Sat:</span>
        <span class="location-info">Sun:</span>
      </div>
      <div class="location-info-hours">
        <span class="location-info">9:00 a.m. - 6:00 p.m.</span>
        <span class="location-info">Noon - 6:00 p.m.</span>
      </div>
    </div>
    <div class="location-gmap">
      <iframe
        frameborder="0" class="gmap"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDX-Zp_WBnNhOPD4JcIM37WzxYNIFhCUFI&q=Dr+Phonez/@2923+Thousand+Oaks,San+Antonio,TX" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
