<!-- /templates/page.liquid -->
<div class="grid--full grid--table wrapper-custom">

  <div class="grid__item page-mainHeader-wrapper">
    <h1 class="text-center page-mainHeader">{{ page.title }}</h1>
  </div>

  <div class="flex-wrapper">
    <div class="maps">
      <a href="https://drphonez.myshopify.com/pages/san-pedro">
        <img class="locations--storefront" src="{{ 'san_pedro.jpg' | asset_url }}" alt="San Pedro storefront image">

        <h3 class="locations--storeName text-center">San Pedro</h3>
        <span>Address: </span>
        <span class="locations--storeInfo">7317 San Pedro Ave</span>
        <span class="locations--storeInfo">San Antonio, TX 78216</span>
        <span>Store Number:</span>
        <span class="locations--storeInfo">(210) 377-1010</span>

      </a>
    </div>
    <div class="maps">
      <a href="https://drphonez.myshopify.com/pages/forum">
        <img class="locations--storefront" src="{{ 'forum.jpg' | asset_url }}" alt="Forum storefront image">

        <h3 class="locations--storeName text-center">Forum</h3>
        <span>Address: </span>
        <span class="locations--storeInfo">8211 Agora Pkwy #102</span>
        <span class="locations--storeInfo">Schertz, TX 78154</span>
        <span>Store Number:</span>
        <span class="locations--storeInfo">(210) 566-2020</span>
      </a>
    </div>
    <div class="maps">
      <a href="https://drphonez.myshopify.com/pages/stone-oak">
        <img class="locations--storefront" src="{{ 'stone_oak.jpg' | asset_url }}" alt="Stone Oak storefront image">

        <h3 class="locations--storeName text-center">Stone Oak</h3>
        <span>Address: </span>
        <span class="locations--storeInfo">20935 US-281 #101</span>
        <span class="locations--storeInfo">San Antonio, TX 78258</span>
        <span>Store Number:</span>
        <span class="locations--storeInfo">(210) 403-3030</span>
      </a>
    </div>
  </div>
</div>
