<!-- /templates/page.liquid -->
<div class="grid wrapper-custom">

  <div class="page-mainHeader-wrapper">
    <h1 class="text-center page-mainHeader">{{ page.title }}</h1>
  </div>

  <div class="grid__item phonebulance-wrapper">

    <div class="youtubevideo1">
      <iframe src="https://www.youtube.com/embed/videoseries?list=PLhLhwvGPaTw4XuaeTL6JbLxLB_B3tx4qB" frameborder="0" allowfullscreen></iframe>
    </div>

    <img class="phonebulance" src="{{ 'vanResized.png' | asset_url }}" alt="Phonebulance repair van">
    <a href="https://drphonez.repairshopr.com/check_ins" target="_blank"><button type="submit" class="btn phonebulance-quote">Get a Quote</button></a>
  </div>

</div>
